modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/discord-bot: Discord Bot"

[[workflows.workflow]]
name = "artifacts/discord-bot: Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run start"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3000

[[ports]]
localPort = 8084
externalPort = 3002

[[ports]]
localPort = 8085
externalPort = 3003

[[ports]]
localPort = 21897
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CLERK_FAPI_URL = "https://clerk.writingsprint.site"
VITE_CLERK_PK = "pk_test_Y2hvaWNlLWFuY2hvdnktMzEuY2xlcmsuYWNjb3VudHMuZGV2JA"
